/* src/App.css */
.container {
    display: flex;
    flex-direction: column;
    height: 250vh;
    background-color: #B2EBF2;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

    .navbar h2 {
        background-color: #37474F;
        color: white;
        padding: 10px 20px;
        margin: 0;
        border-radius: 0;
    }

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #78909C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .button-link:hover {
        background-color: #546E7A;
    }

.content {
    flex-grow: 1;
    padding: 20px;
}
